/target/
/bin/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
/.settings/
/.classpath
/.project
.DS_Store
/src/test/java/META-INF/MANIFEST.MF

/.idea
/*.iml
/classes/
.ideaDataSources/
*.ipr
*.iws
*.ids
*.log
本地仓库地址/
/spring-integration-sample/log_dir_IS_UNDEFINED
/spring-boot-metrics/target/